.dashboard {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  gap: 1rem;
  margin-block-start: 2rem;
  margin-block-end: 12rem;
  margin-inline: auto;
  min-height: 60vh;
  max-width: 85%;
}

@media (min-width: 62rem) {
  .dashboard {
    min-width: 50%;
    margin-block-start: 10rem;
  }
}
